<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.bpmn2.modeler.runtime">
      
      <runtime
            class="uy.edu.fing.modeler.variability.VariabilityRuntimeExtension"
            id="uy.edu.fing.modeler.variability"
            name="VariabilityRuntimeExtension">
      </runtime>
      
      <!-- Variants -->
      
      <customTask
            category="Variants"
            featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
            icon="V.png"
            id="VInclusiveGateway"
            name="VInclusiveGateway"
            runtimeId="uy.edu.fing.modeler.variability"
            type="InclusiveGateway">
            <property name="variability" value="VInclusiveGateway" />
      </customTask>
      <customTask
            category="Variants"
            featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
            icon="V.png"
            id="VExclusiveGateway"
            name="VExclusiveGateway"
            runtimeId="uy.edu.fing.modeler.variability"
            type="ExclusiveGateway">
            <property name="variability" value="VExclusiveGateway" />
      </customTask>
      <customTask
            category="Variants"
            featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
            icon="V.png"
            id="VParallelGateway"
            name="VParallelGateway"
            runtimeId="uy.edu.fing.modeler.variability"
            type="ParallelGateway">
            <property name="variability" value="VParallelGateway" />
      </customTask>
      <customTask
            category="Variants"
            featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
            icon="V.png"
            id="VEventBasedGateway"
            name="VEventBasedGateway"
            runtimeId="uy.edu.fing.modeler.variability"
            type="EventBasedGateway">
            <property name="variability" value="VEventBasedGateway" />
      </customTask>
      <customTask
            category="Variants"
            featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
            icon="V.png"
            id="VComplexGateway"
            name="VComplexGateway"
            runtimeId="uy.edu.fing.modeler.variability"
            type="ComplexGateway">
            <property name="variability" value="VComplexGateway" />
      </customTask>
      <customTask
            category="Variants"
            featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
            icon="V.png"
            id="VTask"
            name="VTask"
            runtimeId="uy.edu.fing.modeler.variability"
            type="Task">
            <property name="variability" value="VTask" />
      </customTask>
      <customTask
            category="Variants"
            featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
            icon="V.png"
            id="VLane"
            name="VLane"
            runtimeId="uy.edu.fing.modeler.variability"
            type="Lane">
            <property name="variability" value="VLane" />
      </customTask>
      <customTask
            category="Variants"
            featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
            icon="V.png"
            id="VParticipant"
            name="VParticipant"
            runtimeId="uy.edu.fing.modeler.variability"
            type="Participant">
            <property name="variability" value="VParticipant" />
      </customTask>
      <customTask
            category="Variants"
            featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
            icon="V.png"
            id="VSubProcess"
            name="VSubProcess"
            runtimeId="uy.edu.fing.modeler.variability"
            type="SubProcess">
            <property name="variability" value="VSubProcess" />
      </customTask>
      
      <!-- Variation Points -->
      
      <customTask
            category="VarPoints"
            featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
            icon="VP.png"
            id="VPInclusiveGateway"
            name="VPInclusiveGateway"
            runtimeId="uy.edu.fing.modeler.variability"
            type="InclusiveGateway">
            <property name="variability" value="VPInclusiveGateway" />
      </customTask>
      <customTask
            category="VarPoints"
            featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
            icon="VP.png"
            id="VPExclusiveGateway"
            name="VPExclusiveGateway"
            runtimeId="uy.edu.fing.modeler.variability"
            type="ExclusiveGateway">
            <property name="variability" value="VPExclusiveGateway" />
      </customTask>
      <customTask
            category="VarPoints"
            featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
            icon="VP.png"
            id="VPParallelGateway"
            name="VPParallelGateway"
            runtimeId="uy.edu.fing.modeler.variability"
            type="ParallelGateway">
            <property name="variability" value="VPParallelGateway" />
      </customTask>
      <customTask
            category="VarPoints"
            featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
            icon="VP.png"
            id="VPEventBasedGateway"
            name="VPEventBasedGateway"
            runtimeId="uy.edu.fing.modeler.variability"
            type="EventBasedGateway">
            <property name="variability" value="VPEventBasedGateway" />
      </customTask>
      <customTask
            category="VarPoints"
            featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
            icon="VP.png"
            id="VPComplexGateway"
            name="VPComplexGateway"
            runtimeId="uy.edu.fing.modeler.variability"
            type="ComplexGateway">
            <property name="variability" value="VPComplexGateway" />
      </customTask>
      <customTask
            category="VarPoints"
            featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
            icon="VPTask.png"
            id="VPTask"
            name="VPTask"
            runtimeId="uy.edu.fing.modeler.variability"
            type="Task">
            <property name="variability" value="VPTask" />
      </customTask>      
      <customTask
            category="VarPoints"
            featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
            icon="VP.png"
            id="VPLane"
            name="VPLane"
            runtimeId="uy.edu.fing.modeler.variability"
            type="Lane">
            <property name="variability" value="VPLane" />
      </customTask>
      <customTask
            category="VarPoints"
            featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
            icon="VP.png"
            id="VPParticipant"
            name="VPParticipant"
            runtimeId="uy.edu.fing.modeler.variability"
            type="Participant">
            <property name="variability" value="VPParticipant" />
      </customTask>
      <customTask
            category="VarPoints"
            featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
            icon="VP.png"
            id="VPSubProcess"
            name="VPSubProcess"
            runtimeId="uy.edu.fing.modeler.variability"
            type="SubProcess">
            <property name="variability" value="VPSubProcess" />
      </customTask>
      
   </extension>

	
</plugin>
