<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.bpmn2.modeler.runtime">
	
		<runtime
			class="uy.edu.fing.modeler.variability.VariabilityRuntimeExtension"
			id="uy.edu.fing.modeler.variability"
			name="VariabilityRuntimeExtension">
		</runtime>
	      
	    <!-- Variation Points -->
		<customTask
	    	category="VarPoints"
			featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
			icon="VPTask.png"
			id="VPTask"
			name="VPTask"
			runtimeId="uy.edu.fing.modeler.variability"
			type="Task">
				<property name="variability" value="VPTask" />
		</customTask>      
		<customTask
			category="VarPoints"
			featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
			icon="VPLane.png"
			id="VPLane"
			name="VPLane"
			runtimeId="uy.edu.fing.modeler.variability"
			type="Lane">
				<property name="variability" value="VPLane" />
	 	</customTask>
		<customTask
			category="VarPoints"
			featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
			icon="VPParticipant.png"
			id="VPParticipant"
			name="VPParticipant"
			runtimeId="uy.edu.fing.modeler.variability"
			type="Participant">
				<property name="variability" value="VPParticipant" />
		</customTask>
		<customTask
			category="VarPoints"
			featureContainer="uy.edu.fing.modeler.variability.container.VariabilityFeatureContainer"
			icon="VPSubProcess.png"
			id="VPSubProcess"
			name="VPSubProcess"
			runtimeId="uy.edu.fing.modeler.variability"
			type="SubProcess">
				<property name="variability" value="VPSubProcess" />
		</customTask>
	</extension>
   
   
	<extension point="org.eclipse.ui.bindings">
		<key
			commandId="variability.commands.substitutionCommand"
			contextId="org.eclipse.ui.contexts.window"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+6">
		</key>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
		<category id="variability.commands.category" name="Substitution Category" />
		<command categoryId="variability.commands.category" id="variability.commands.substitutionCommand" name="Substitution Command" />
	</extension>
	
	<extension point="org.eclipse.ui.handlers">
		<handler class="uy.edu.fing.modeler.variability.ui.VariabilityPlugIn" commandId="variability.commands.substitutionCommand" />
	</extension>


	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="uy.edu.fing.modeler.variability.bpmnFile">
			<iterate ifEmpty="true">
				<adapt type="org.eclipse.core.resources.IFile">
	            	<test property="org.eclipse.core.resources.name" value="*.bpmn"/>
				</adapt>
			</iterate>
		</definition>
	</extension>
	
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:org.eclipse.ui.popup.any?before=additions">
			<menu id="bpmnSubMenu" label="BPMN">
				<command 
					commandId="variability.commands.substitutionCommand"
					label="Excecute substitution"
					icon="icons/red_dot.gif"
		        	style="push">
				</command>
				<visibleWhen checkEnabled="false">
					<or>
						<with variable="activeMenuSelection">
							<reference definitionId="uy.edu.fing.modeler.variability.bpmnFile"/>
						</with>
						<with variable="activeMenuEditorInput">
							<reference definitionId="uy.edu.fing.modeler.variability.bpmnFile"/>
						</with>
					</or>
				</visibleWhen>
			</menu>
		</menuContribution>
	</extension>

</plugin>
